body{
    background-color: beige;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.kanban{
    gap: 20px;
    margin-top: 40px;
    display: flex;
}

.column{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px gray;
    min-height: 200px;
    text-align: center;
}

.task{
    cursor: grab;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.note-form{
    display: flexbox;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

