body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    max-width: 800px;
}
.kanban {
    display: flex;
    gap: 20px;
    justify-content: center;
    /*flex-wrap: wrap;*/
}
.column {
    width: 180px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    text-align: center;
    border: 2px solid #ddd;
}

.column h3 {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    color: #f4f4f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border-bottom: 2px solid #ddd;*/
}

.column:nth-child(1) h3 {background: rgb(11, 42, 218);} 
.column:nth-child(2) h3 {background: rgb(32, 194, 32);}
.column:nth-child(3) h3 {background: rgb(232, 247, 35); color: black;}
.column:nth-child(4) h3 {background: rgba(228, 9, 9, 0.973);}

.task {
    background: rgb(194, 226, 236);
    margin-bottom: 10px ;
    padding: 10px;
    cursor: grab;
    border: 1px solid #ccc; 
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task h2 {
    font-size:  16px;
    margin: 20px 0;
}

.note-form {
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-form input, .editable {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
   /* background: white;*/
}
.editable {
    min-height: 50px;
}
.editable:empty:before {
    content: attr(data-placeholder);
    color: gray;
    display: block;
}