body{
    background-color: beige;
    display: flexbox;
}

.container{
    width: 80%;
    margin: auto;
    padding: auto;
    border-radius: 8px;
}

.row{
    gap: 30px;
    margin-top: 40px;
    display: flex;
}

.column{
    flex: 1;
    padding: 10px;
    background-color: 4px;
    text-align: center;
    background-color: whitesmoke;
}